@charset "utf-8";

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans";
$family-primary: 'Open Sans';


// Bulma
@import "~bulma/bulma";
/*@import "~bulma-switch";
@import "~bulma-tooltip";
@import "~bulma-checkradio";
@import "~bulma-slider";*/

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    background: #F0F2F4;
}

.button {
    @extend .button;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.input {
    @extend .input;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
